<section>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->

{{!-- 
<nav class="navbar navbar-expand-lg bg-body-tertiary"> --}}
  <div class="container-fluid">
    {{!-- {{#if db}} --}}
    <a class="navbar-brand" href="#">{{db.name}}</a>
    <button  type="button" class="btn btn-danger pr-2 logout" onclick="fun"><a href="/logout">logout</a></button>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </div>
</nav>
</nav>
</section>
{{!-- {{db_products}} --}}



<div class="row mt-3 container pl-2 " style="display: flex; justify-content: end ; align-items:center">
  {{#each products}}
    <div class="card pl-2" style="width: 18rem; margin:1rem">
  <img src={{this.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"> {{this.descri}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}
</div>

</div>